<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:name=".KmpApp"
        android:supportsRtl="true"
        android:label="Patrol App"
        android:theme="@style/Theme.Skydio">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".BGService"
            android:exported="true"/>

        <activity
            android:name="com.skydio.patrol_link.MainActivity"
            android:launchMode="singleTask"
            android:exported="true">

        </activity>
    </application>
</manifest> 